.container {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 600;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg circle {
  fill: none;
  stroke: url('#GradientColor');
  stroke-width: 16px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: progressing 1.5s linear forwards;
}

@keyframes progressing {
    100% {
        stroke-dashoffset: 165;
    }
}

